* {
    --white: #b6b5b5;
    --deep_orange: #f05012;
    --red_like: #f8231f;
    --our_black: #09080b;
    --weak_orange: #f17e54;
    font-family: inherit;
}
@media screen and (max-width: 1920px) {
    html, body {
        margin: 0;
        padding: 0;
        font-family: 'normal';
        background-color: var(--our_black);
        text-align: center;
        overflow-x: hidden;
    }
    .wrapper {
        width: 100vw;
        min-height: 90vh;
        position: relative;
    }
    h1 {
        font-family: 'special';
        font-size: 8vh;
        color: var(--deep_orange);
        width: 100%;
    }
    .holder {
        width: calc(80% - 40px);
        margin-left: 10%;
        padding: 20px;
    }
    img {
        width: 20vh;
        filter: brightness(0) invert(1);
        transition: all .2s ease-in-out;
        display: inline-block;
        margin: 20px;
    }
    img:hover {
        filter: none
    }
    .small {
        width: 20vh;
    }
    .medium {
        width: 25vh !important;
    }
    .big {
        width: 50vh !important;
    }
    .other {
        color: var(--red_like);
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2vh;
    }
    a {
        -webkit-tap-highlight-color: none;
        color: var(--red_like)
    }
}
@media screen and (min-width: 2000px) {
    html, body {
        margin: 0;
        padding: 0;
        font-family: 'normal';
        background-color: var(--our_black);
        text-align: center;
    }
    .wrapper {
        width: 1920px;
        margin-left: 50%;
        transform: translateX(-50%);
        min-height: 90vh;
    }
    h1 {
        font-family: 'special';
        font-size: 8vh;
        color: var(--deep_orange)
    }
    .holder {
        width: calc(80% - 40px);
        margin-left: 10%;
        padding: 20px;
    }
    img {
        filter: brightness(0) invert(1);
        transition: all .2s ease-in-out;
        display: inline-block;
        margin: 20px;
    }
    img:hover {
        filter: none
    }
    .other {
        color: var(--red_like);
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2vh;
    }
    a {
        -webkit-tap-highlight-color: none;
        color: var(--red_like)
    }
    .small {
        width: 20vh;
    }
    .medium {
        width: 25vh !important;
    }
    .big {
        width: 30vh !important;
    }
}
@media screen and (max-width: 900px) {
    .big {
        width: 50vh !important;
        transform: translateX(-50%);
        margin-left: 50%
    }
}